body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  letter-spacing: 8px;
  animation: text 3s 1;
}

@keyframes text{
  30%{
      letter-spacing: 25px;
  }
  85%{
      letter-spacing: 8px;
  }
}

h1 {
  font-size: 100px;
  color:rgb(192, 5, 5)
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}