.user-form {
  height: 1000px;
  width: 200px;
  background: linear-gradient(to bottom, #4c0303 0%, #c21818 100%);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 10px;
  margin: auto;
}

.user-form .username {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-form .fullName {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-form .startingPoint{
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-form .destinationPoint {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-form .publicTransport{
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-form .departureHour{
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-form .tripDuration{
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-form .crowdednessLevel {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-form .observations {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-form .satisfactionLevel {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-form .add {
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}